<form class="form-horizontal" action="/add" method="post">
  <div class="control-group">
    <label class="control-label">First name</label>
    <div class="controls">
      <input type="text" name="first" placeholder="First name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last name</label>
    <div class="controls">
      <input type="text" name="last" placeholder="Last name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Age</label>
    <div class="controls">
      <input type="text" name="age" placeholder="Age">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Gender</label>
    <div class="controls">
      <input type="text" name="gender" placeholder="Gender">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Image URL</label>
    <div class="controls">
      <input type="text" name="image" placeholder="Image URL">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Twitter</label>
    <div class="controls">
      <input type="text" name="twitter" placeholder="Twitter">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Github</label>
    <div class="controls">
      <input type="text" name="github" placeholder="Github">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add Friend</button>
    </div>
  </div>
</form>