<div class="hero-unit">
  <h1>Pfony Fphriends</h1>
  <p>Keepin' track of gangstas</p>
  <p>
    <a class="btn btn-primary btn-large" href="/add">
      Add a friend
    </a>
    <a class="btn btn-primary btn-large" href="/view">
      View friend list
    </a>
  </p>
</div>